In [155]:
###---------LIBRARIES---------------------#####
from msilib.schema import Component
import pandas as pd
import numpy as np
import datetime as dt
import plotly.express as px  # (version 4.7.0 or higher)
import plotly.graph_objects as go
import dash_bootstrap_components as dbc
from dash import Dash, dcc, html, Input, Output   # pip install dash (version 2.0.0 or higher)

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

## 0. Setting DataFrame & Filters

In [159]:
# DataFramee
df = pd.read_csv('data.csv')
df.drop_duplicates(keep = 'first', inplace = True)
df.usage_date = df.usage_date.apply(lambda x: dt.datetime.strptime(x.split()[0], '%Y-%m-%d'))
df.user_created_date = df.user_created_date.apply(lambda x: dt.datetime.strptime(x.split()[0], '%Y-%m-%d')if x is not np.nan else x)
df = df.set_index('usage_date',drop = True)[['cust_id', 'source_duration', 'transcoded_duration', 'video_duration',"user_created_date"]].sort_index(ascending = True)
df

,cust_id,source_duration,transcoded_duration,video_duration,user_created_date
usage_date,,,,,
2022-01-01,e356,99.058293,396.233171,NaN,2021-08-08
2022-01-01,475,1355.033724,5420.269792,NaN,2021-11-17
2022-01-01,4640,63.711967,255.114535,NaN,2021-11-18
2022-01-01,87a9,64.999300,259.997200,NaN,2021-12-13
2022-01-01,e36a,2210.154948,8840.619792,NaN,NaT
...,...,...,...,...,...
2022-10-21,31d2,1774.940495,5324.625000,NaN,NaT
2022-10-21,3fcf,28.658852,100.504688,NaN,2021-06-28
2022-10-21,5e4f,42659.866670,59163.225000,NaN,NaT
2022-10-21,fb97,222.320003,889.280013,NaN,2022-10-19
2022-10-21,6124,103.032194,205.597721,NaN,2022-07-16

In [171]:
list(set(df.cust_id.to_list()))

['9777',
 'e83f',
 '4bcf',
 '6f88',
 '8e1d',
 '4805',
 'f2b2',
 '617d',
 'e040',
 '4ca0',
 '3ab6',
 'e2d5',
 '7132',
 '4cef',
 'e263',
 '1314',
 '7eb0',
 '0cb0',
 'e04e',
 'ebd5',
 'f400',
 '8d2c',
 '52d6',
 '99a1',
 'eccc',
 'b027',
 '3703',
 'c209',
 '7eb8',
 'df01',
 '3323',
 'd275',
 'f389',
 'bed7',
 'f65d',
 '675e',
 'f332',
 'e1e1',
 '2378',
 '64f6',
 'a602',
 '6a3b',
 'f192',
 '8136',
 '57ef',
 '01b6',
 '7.20E+04',
 '3.00E+67',
 '830f',
 'ee0e',
 '9867',
 '460a',
 'b9be',
 '5.90E+08',
 'ae33',
 '4d5c',
 'e832',
 'e7d7',
 '9907',
 'f111',
 '04d1',
 '060f',
 '24f2',
 '0b30',
 'efc8',
 '1cbd',
 'f987',
 'e4fd',
 '3-Feb',
 'd387',
 '6b66',
 'f681',
 'cddb',
 '47d4',
 'e301',
 '6a1c',
 '6ba5',
 '4f4f',
 'eeb2',
 '41bc',
 'f912',
 '2ef1',
 '5378',
 '3308',
 'b925',
 '9df3',
 '2e0c',
 '1484',
 '8d8d',
 'f050',
 '8bca',
 '975b',
 '637b',
 'fdf5',
 '7555',
 'b0f7',
 'ae4b',
 '2bf2',
 '10a4',
 '1e7d',
 '3.00E+53',
 '4758',
 '9ce3',
 '501d',
 'f3bc',
 'b1dd',
 '7.00E+97',
 '7819',
 '3f39',
 'a230',
 '9162',
 '37c3',
 'f4c5',
 '0c06',
 '9cac',
 'c7df',
 'f5fe',
 '2214',
 '31df',
 '446b',
 'bff9',
 '3826',
 'f1f4',
 'd1ec',
 '489e',
 'd800',
 'c375',
 'ca0c',
 'c00f',
 '61c5',
 '9b36',
 '4c1a',
 '8f44',
 '5.00E+61',
 'a3e8',
 '1b4a',
 '2a85',
 '2f03',
 'aa2f',
 'b0b2',
 '7b03',
 '953a',
 'd945',
 '23c1',
 'b1bb',
 'f818',
 '1722',
 '5b6b',
 'e360',
 '056b',
 'aac9',
 '9081',
 '74b8',
 'df44',
 'df2e',
 '93a5',
 'fa5f',
 '8131',
 'd445',
 'dba1',
 '1833',
 'bb0a',
 '804a',
 'dada',
 '49f1',
 'fc1f',
 'aa6b',
 '3337',
 '6dde',
 '6.60E+01',
 '5fe8',
 '992d',
 'd2d9',
 '4810',
 '8a56',
 '88d4',
 'c98e',
 'a186',
 '9e6c',
 '35c0',
 '4.00E+03',
 'b388',
 '14cf',
 'e648',
 '5e9a',
 'f51a',
 '0c70',
 '4393',
 '203',
 '826c',
 '0.00E+00',
 '5.00E+84',
 '450b',
 'f89a',
 '560f',
 '077a',
 '74b3',
 'cd00',
 '46dd',
 '5dfb',
 '6cf5',
 'bb1d',
 '899c',
 '559b',
 'b6ec',
 'bf2c',
 '0eff',
 'e5eb',
 '6848',
 '4640',
 'b5c5',
 '48c0',
 '27c2',
 '40ca',
 'aece',
 '8eb5',
 '6810',
 'b5c9',
 '6247',
 '1742',
 '51f6',
 'f8e9',
 'eca4',
 'd22f',
 'a569',
 '82cb',
 'a506',
 'f726',
 'e70a',
 'ad9b',
 '317a',
 '4a20',
 'a0c2',
 'ad51',
 '31c8',
 '4c0d',
 'd44b',
 '278',
 '98b9',
 'd649',
 '42d1',
 '8fa8',
 '8187',
 '5088',
 '8b16',
 '1850',
 '6645',
 '1de6',
 '58de',
 '1.00E+63',
 '57d4',
 'af75',
 '9660',
 '782',
 '9fa4',
 'f7bb',
 '039c',
 'e6d5',
 '9aa5',
 '312c',
 '55f2',
 '45b9',
 '0ad0',
 '024a',
 'c0cc',
 '0c04',
 '4ff6',
 'ac59',
 '2a4a',
 'bc65',
 '7b45',
 'f7e7',
 'a68f',
 '6585',
 'b809',
 '02d7',
 '8deb',
 '9f9b',
 '3ae7',
 '2556',
 '61ca',
 'bf0a',
 'c04b',
 '7865',
 '29fd',
 'fed3',
 '9876',
 '2d9e',
 '2551',
 '731',
 '0aba',
 '70be',
 '0b64',
 '9fdc',
 '0edb',
 '0d47',
 '9136',
 '53ba',
 '7cd3',
 'f080',
 '6256',
 'e28d',
 '661b',
 'e4e5',
 '2137',
 'fdb9',
 'ba0b',
 '362b',
 '4dbc',
 '67eb',
 'df33',
 '5.00E+07',
 '2.60E+06',
 '2aff',
 '3346',
 '866e',
 '3055',
 'ffe1',
 '62f7',
 '049e',
 '6f47',
 '3b05',
 'ed94',
 '2141',
 'b330',
 'd86a',
 'c94a',
 '032f',
 '6365',
 '6444',
 '9cfc',
 '57bf',
 '3597',
 '6972',
 '7de4',
 'f028',
 'bc84',
 '88b4',
 '5779',
 'da9c',
 'e92b',
 '2bc3',
 '6aae',
 'adbd',
 'b31e',
 'acc8',
 'dd46',
 '787f',
 'c979',
 '872b',
 '4ec8',
 '6475',
 'd0e9',
 '2474',
 '0b08',
 '921a',
 '5830',
 '8395',
 '7923',
 '628a',
 '896d',
 '6666',
 'ee36',
 '8411',
 '1a07',
 '38bc',
 '4f46',
 '0f1a',
 '8cea',
 '5915',
 '7185',
 '4641',
 '8ac5',
 'f6d3',
 'f21e',
 'e356',
 'f70b',
 '4c9e',
 '5c5e',
 'c41c',
 '3.00E+94',
 '5c08',
 'a636',
 '3951',
 'e764',
 'a644',
 '929e',
 'e4d9',
 '7ec9',
 '7077',
 'fda0',
 '84bb',
 '3.00E+74',
 'c18c',
 '56ca',
 'c4a3',
 '0ba0',
 'e81d',
 'b870',
 '0f7d',
 '72c2',
 'b6fa',
 '9d5f',
 '359',
 '8129',
 '5d98',
 '8af2',
 'e6aa',
 '593d',
 '1d77',
 'c50f',
 'd6d4',
 'd1c4',
 'db78',
 'd0e4',
 'a680',
 '1.00E+78',
 'c8fc',
 '304a',
 '70cb',
 '4cf0',
 'e3ed',
 '6aef',
 '0ff2',
 'f3ea',
 'c7c7',
 '1cff',
 'c1d3',
 '85f6',
 'cfc7',
 '4ef6',
 '1cbc',
 '193e',
 '1781',
 'cb43',
 'b01d',
 'b158',
 'df03',
 'b1cc',
 '81ad',
 'bcf4',
 '2.80E+07',
 '783f',
 '3622',
 '129b',
 '7e9d',
 '18f4',
 '8ac7',
 'aec9',
 '7cd8',
 'ecf5',
 '749b',
 '957f',
 'a57a',
 'a1d7',
 '5867',
 'ad08',
 '5cd0',
 '2a5e',
 '5109',
 'd24a',
 '214a',
 'ae14',
 '8ee7',
 '3459',
 'f326',
 'bc44',
 '93b0',
 'ecba',
 'ccc7',
 '06af',
 'c565',
 'c956',
 '791f',
 'a775',
 'c4f9',
 '4047',
 'c456',
 '9e1a',
 '7591',
 '276',
 '650',
 '3.00E+08',
 'dc9d',
 '6c35',
 '6d95',
 '1.30E+10',
 'bc8f',
 '8069',
 '8380',
 'a42a',
 'efd2',
 '474e',
 '3360',
 '1556',
 'fadd',
 '9a41',
 'c809',
 'e775',
 'ba4b',
 '3.10E+09',
 '8c21',
 'a37f',
 '3500',
 '4782',
 'efdf',
 '47a4',
 '2ab5',
 '4843',
 '7d14',
 '3433',
 '31db',
 'a593',
 '5747',
 'e1a3',
 '0c18',
 '8d6d',
 'c747',
 'abaa',
 '095d',
 'e383',
 '6401',
 '2f50',
 '8.00E+43',
 '9131',
 'c85c',
 '3ee8',
 '1ba1',
 '2049',
 'b7ee',
 'b1c7',
 '8d8a',
 'ae2d',
 '3729',
 '2cf1',
 '97c2',
 '2ab1',
 '42b8',
 '41d0',
 '8c4b',
 '1622',
 '92b8',
 'eade',
 '9c2d',
 '3d91',
 '3113',
 '3488',
 '8078',
 '881',
 'd8bc',
 '4985',
 '98b8',
 '1d44',
 '9.40E+10',
 '7437',
 'f1c3',
 '74b0',
 '7105',
 '2d2b',
 'b1eb',
 'bec6',
 '8a6f',
 '1d58',
 '203e',
 '1365',
 '4f2d',
 '7.00E+63',
 '7b3d',
 'cf6a',
 '69bf',
 'b199',
 '764d',
 '8b28',
 '697f',
 '5d9d',
 '8d0f',
 '371f',
 '85c3',
 'ebe5',
 '0d67',
 '8456',
 '5072',
 'a93c',
 '3.50E+04',
 'd458',
 '7f4e',
 '5e3d',
 '244b',
 '2eee',
 '3c86',
 'e3ac',
 'b3d2',
 'd85b',
 '16b6',
 '433c',
 'a659',
 '11f1',
 '8.10E+10',
 'bcb2',
 'd323',
 'b301',
 '9646',
 '1b0a',
 '9c0a',
 '88c3',
 'b0bd',
 '82b4',
 '1e5a',
 '2899',
 '8def',
 'c00b',
 '77de',
 '876e',
 '77ec',
 'd996',
 'bba4',
 '3.80E+06',
 '3421',
 'da4a',
 '6.80E+10',
 '5307',
 '7c9b',
 '543e',
 'b7b6',
 'ca44',
 'fc06',
 'f28a',
 'baf9',
 '16eb',
 '3ff7',
 '1ea8',
 '7bda',
 'fb03',
 '1bfa',
 '925b',
 '0f4e',
 'c79a',
 '7.60E+01',
 '3df4',
 '3771',
 '62c8',
 '2369',
 '12b1',
 '8596',
 'dced',
 'f762',
 '8c95',
 '3853',
 '3366',
 'e0db',
 '6974',
 'a976',
 '5b51',
 '11d3',
 'c0e5',
 '8d15',
 'd1f4',
 '6dc7',
 '548c',
 '5381',
 'dc72',
 'daf9',
 '6.00E+62',
 '1ab5',
 'cf72',
 '4a9b',
 'd4a5',
 '7538',
 'b8f3',
 'a7cf',
 '2313',
 'fd5a',
 'b656',
 'f7d5',
 '8897',
 '4cc8',
 '77f3',
 'e197',
 'daeb',
 '3504',
 '2672',
 'b958',
 '2026',
 '9.00E+59',
 '8863',
 'b629',
 '97ff',
 '0cce',
 '01b5',
 '9fa5',
 '869b',
 '2f75',
 '5.00E+05',
 '915f',
 '79fa',
 '350d',
 '4916',
 '9be1',
 '306b',
 '8410',
 'f038',
 '4127',
 '3d17',
 '65c6',
 'c87a',
 '2013',
 '2448',
 '6901',
 'bec9',
 '475',
 '8c55',
 'bde4',
 '9775',
 'd716',
 '399c',
 'bb84',
 'd5e0',
 '5f6d',
 'dc39',
 '1284',
 '38ed',
 '243f',
 '18c8',
 '531b',
 'c973',
 'f067',
 '5cfa',
 '0e3d',
 '7f77',
 'ae35',
 '2a46',
 'cc6c',
 'd25d',
 '1ace',
 '02f9',
 'b856',
 '2d0e',
 '8c84',
 '182e',
 'dfb6',
 '33cd',
 '6afe',
 'fac6',
 '2aab',
 'a8f5',
 '6bc6',
 'e78c',
 '366d',
 '8ad1',
 '648',
 '696e',
 '1394',
 '5775',
 '6124',
 '2709',
 '9ba3',
 '75c7',
 'a8c9',
 '9e0e',
 '4cdc',
 '9d95',
 '1bde',
 '3e1b',
 '8bd8',
 'f171',
 '52ca',
 '843e',
 '54db',
 'ecb8',
 '16a4',
 'f619',
 '7c71',
 '1402',
 '7ea6',
 'b6bf',
 '3494',
 'c746',
 'fa0d',
 'e09a',
 '478b',
 '093f',
 '72ec',
 'f38f',
 '70af',
 'eb53',
 '1.00E+71',
 '8c74',
 'c2ec',
 '6a0a',
 '059b',
 'd783',
 '874c',
 '1f11',
 'ebb4',
 '3e7f',
 'b264',
 'de27',
 '0afa',
 '0f5b',
 '49cc',
 '7514',
 'c783',
 '3f8c',
 '6bdf',
 '9640',
 '4fd8',
 'e8e9',
 '6029',
 'a1fb',
 '077c',
 'c6de',
 '1266',
 '709',
 'b58b',
 'ecd6',
 '5fd9',
 '3.70E+04',
 'c005',
 '0a67',
 '2143',
 'af50',
 '0f87',
 '074f',
 'e585',
 '3377',
 '8.60E+07',
 '9b32',
 '7ef9',
 'fcd1',
 '64d9',
 '3b29',
 'fad6',
 'fa13',
 '1f15',
 '3939',
 '8b2e',
 'a1aa',
 'c42e',
 '2.60E+07',
 'cfa6',
 'a40f',
 '4b64',
 '44a3',
 '00ed',
 '4d95',
 '96de',
 '850f',
 'cd58',
 '9b40',
 '2.10E+09',
 'fc12',
 'c32c',
 '05a8',
 'f351',
 '350a',
 'bb2d',
 '4d94',
 'f888',
 '497c',
 '3a31',
 'e25d',
 '55ef',
 'a537',
 'f33c',
 'e0f2',
 '8cd6',
 '664c',
 '5591',
 '6d76',
 '3c32',
 '0afd',
 '0d14',
 '344a',
 '716a',
 '9002',
 '41a5',
 '5612',
 '89cb',
 'ac49',
 '3c47',
 'd799',
 'edd8',
 '44d7',
 'fde2',
 '5e2b',
 'fa61',
 '2bba',
 '7ece',
 'c8d1',
 'f7a0',
 '128a',
 '05c5',
 '9d96',
 '5c3d',
 'e36a',
 '8.20E+01',
 'dab8',
 '631',
 'fc6a',
 '179',
 '1798',
 '16ed',
 '19a0',
 '8810',
 '6960',
 '73b2',
 'f4dc',
 '2a83',
 '94b3',
 'f773',
 'f530',
 'd7a6',
 'eada',
 '964d',
 'd383',
 '292c',
 'c185',
 'acf5',
 '91ef',
 '1c5b',
 'e3b8',
 '1af4',
 'c8ce',
 'b4ce',
 '031d',
 '51bb',
 '4b0c',
 '3e9d',
 '4a22',
 '25f0',
 'b22e',
 '8801',
 'b8ce',
 'e6bc',
 '488e',
 'e77f',
 '5922',
 '5b59',
 '7205',
 '272d',
 'dd02',
 '08b6',
 '8367',
 '0f16',
 '9ddf',
 'afac',
 'e28e',
 'e4ed',
 '1f69',
 '4186',
 'dce2',
 '86df',
 'b85a',
 'b28d',
 'dbbd',
 'b827',
 'cfa1',
 'e8ed',
 'e6f5',
 'c166',
 '872a',
 'e403',
 '7888',
 'bce6',
 '6853',
 'd437',
 '60',
 '55f5',
 '4944',
 'cddd',
 'bb33',
 '2c26',
 '3db8',
 '8bb3',
 'a2a9',
 '3d77',
 '3b20',
 '354f',
 '4ab1',
 '40cb',
 'cbcb',
 '980b',
 '409c',
 'ce53',
 'ed36',
 'ac85',
 '0fd0',
 'cb2a',
 '4536',
 'd914',
 '30c1',
 '5265',
 'fa08',
 '26bc',
 'd3c0',
 'ce98',
 '205f',
 '3d1a',
 '8470',
 'b291',
 ...]

In [157]:
# Filters

#Date Granularity - Dropdown List
date_granularity = {'Day': 'D', 'Month': 'M', 'Year': 'Y'}

#DateRange
start_date = dt.date(2022,1,1) ; end_date = dt.date(2022,10,21)

# Top N - Dropdown List
top =  5 #[5,10,20,30,40,50]

# Defining a filtered dataset
df_filter = df.loc[start_date:end_date].to_period(date_granularity['Day']).reset_index()
df_filter = df_filter.reset_index(drop = True)
df_filter.usage_date = df_filter.usage_date.apply(lambda x: x.to_timestamp())
data_dict = df_filter.to_dict(orient = 'record')
df = pd.DataFrame(data_dict)
df = df.set_index('usage_date')
df

,cust_id,source_duration,transcoded_duration,video_duration,user_created_date
usage_date,,,,,
2022-01-01,e356,99.058293,396.233171,NaN,2021-08-08
2022-01-01,475,1355.033724,5420.269792,NaN,2021-11-17
2022-01-01,4640,63.711967,255.114535,NaN,2021-11-18
2022-01-01,87a9,64.999300,259.997200,NaN,2021-12-13
2022-01-01,e36a,2210.154948,8840.619792,NaN,NaT
...,...,...,...,...,...
2022-10-21,31d2,1774.940495,5324.625000,NaN,NaT
2022-10-21,3fcf,28.658852,100.504688,NaN,2021-06-28
2022-10-21,5e4f,42659.866670,59163.225000,NaN,NaT
2022-10-21,fb97,222.320003,889.280013,NaN,2022-10-19
2022-10-21,6124,103.032194,205.597721,NaN,2022-07-16

In [164]:
# Metrics Accumulated
df_total = df.sum(axis = 0, numeric_only = True)
df_total

source_duration        8.763605e+07
transcoded_duration    1.375423e+08
video_duration         2.250465e+06
dtype: float64

In [158]:
df_potencial = df.copy()
df_potencial['new_customer'] = df_potencial.user_created_date.apply(lambda x:
                                                                    True if x > df_potencial.index[-1] - dt.timedelta(days = 90)
                                                                  else False)
df_potencial

,cust_id,source_duration,transcoded_duration,video_duration,user_created_date,new_customer
usage_date,,,,,,
2022-01-01,e356,99.058293,396.233171,NaN,2021-08-08,False
2022-01-01,475,1355.033724,5420.269792,NaN,2021-11-17,False
2022-01-01,4640,63.711967,255.114535,NaN,2021-11-18,False
2022-01-01,87a9,64.999300,259.997200,NaN,2021-12-13,False
2022-01-01,e36a,2210.154948,8840.619792,NaN,NaT,False
...,...,...,...,...,...,...
2022-10-21,31d2,1774.940495,5324.625000,NaN,NaT,False
2022-10-21,3fcf,28.658852,100.504688,NaN,2021-06-28,False
2022-10-21,5e4f,42659.866670,59163.225000,NaN,NaT,False
2022-10-21,fb97,222.320003,889.280013,NaN,2022-10-19,True
2022-10-21,6124,103.032194,205.597721,NaN,2022-07-16,False

In [136]:
df_filter = df_filter.reset_index()
df_filter.usage_date = df_filter.usage_date.apply(lambda x: x.to_timestamp())
data_dict = df_filter.to_dict(orient = 'record')
df = pd.DataFrame(data_dict)
df = df.set_index('usage_date')

In [139]:
df_potencial = df.copy()
df_potencial['new_customer'] = df_potencial.user_created_date.apply(lambda x:
                                                                    True if x > df_potencial.index[-1]- dt.timedelta(days = 90)
                                                                   else False)
df_new = df_potencial[df_potencial.new_customer == True]

In [ ]:
df

## 1. Metrics Over Time

In [5]:
df_overtime = df_filter.groupby(by = 'usage_date').agg({'source_duration': np.sum,
                                                        'transcoded_duration': np.sum,
                                                        'video_duration': np.sum})
df_overtime

            source_duration  transcoded_duration  video_duration
usage_date
2022-01-01    277516.948135        425663.449481        0.000000
2022-01-02    277795.558304        394583.587921        0.000000
2022-01-03    260282.767226        364014.982308        0.000000
2022-01-04    267185.777589        378787.381206        0.000000
2022-01-05    305028.585976        448857.249877        0.000000
...                     ...                  ...             ...
2022-10-17    275351.046731        437041.385764      140.959395
2022-10-18    277086.465503        439435.580519      205.737614
2022-10-19    262383.156130        436053.416383      439.125033
2022-10-20    273184.867248        440904.724699      345.237443
2022-10-21     46911.652812         74156.199258        3.870757

[294 rows x 3 columns]

## 2. Metrics -   Total Running

In [6]:
df_cumsum = df_filter.groupby(by = 'usage_date').agg({'source_duration': np.sum,
                                                      'transcoded_duration': np.sum,
                                                      'video_duration': np.sum}).cumsum(axis =0)
df_cumsum

            source_duration  transcoded_duration  video_duration
usage_date
2022-01-01     2.775169e+05         4.256634e+05    0.000000e+00
2022-01-02     5.553125e+05         8.202470e+05    0.000000e+00
2022-01-03     8.155953e+05         1.184262e+06    0.000000e+00
2022-01-04     1.082781e+06         1.563049e+06    0.000000e+00
2022-01-05     1.387810e+06         2.011907e+06    0.000000e+00
...                     ...                  ...             ...
2022-10-17     8.677648e+07         1.361517e+08    2.249471e+06
2022-10-18     8.705357e+07         1.365912e+08    2.249677e+06
2022-10-19     8.731595e+07         1.370272e+08    2.250116e+06
2022-10-20     8.758914e+07         1.374681e+08    2.250461e+06
2022-10-21     8.763605e+07         1.375423e+08    2.250465e+06

[294 rows x 3 columns]

## 3. Metrics - Accumulated

In [7]:
df_total = df_filter.sum(axis = 0, numeric_only = True)
df_total

source_duration        8.763605e+07
transcoded_duration    1.375423e+08
video_duration         2.250465e+06
dtype: float64

## 4. Metrics - Variation Over Time

In [8]:
df_pct_change = df_filter.groupby(by = 'usage_date').agg({'source_duration': np.sum,
                                    'transcoded_duration': np.sum,
                                    'video_duration': np.sum}).pct_change().drop(df_filter.index[0],axis = 0).replace(np.inf,0)
df_pct_change

            source_duration  transcoded_duration  video_duration
usage_date
2022-01-02         0.001004            -0.073015             NaN
2022-01-03        -0.063042            -0.077471             NaN
2022-01-04         0.026521             0.040582             NaN
2022-01-05         0.141635             0.184985             NaN
2022-01-06        -0.029673            -0.065747             NaN
...                     ...                  ...             ...
2022-10-17        -0.039343            -0.014368        0.666746
2022-10-18         0.006303             0.005478        0.459552
2022-10-19        -0.053064            -0.007697        1.134394
2022-10-20         0.041168             0.011125       -0.213806
2022-10-21        -0.828279            -0.831809       -0.988788

[293 rows x 3 columns]

## 5. Metrics - Ranking

In [16]:
#top = 10
column_name = 'transcoded_duration'
df_rank = df_filter.groupby(by = 'cust_id').agg({'source_duration': np.sum,
                                    'transcoded_duration': np.sum,
                                    'video_duration': np.sum})[[column_name ]].sort_values(by =column_name,
                                                                                                   ascending = False)
df_top = df_rank.copy()
df_top['ranking'] = range(1,len(df_top.index) +1)
df_top = df_top.iloc[:top,:].reset_index().assign(rank_id = lambda x: x['ranking'].apply(lambda x: str(x) + '-) ') + x['cust_id'])
df_top

  cust_id  transcoded_duration  ranking   rank_id
0    5e4f         1.085833e+08        1  1-) 5e4f
1    8863         5.038736e+06        2  2-) 8863
2    3fcf         4.428012e+06        3  3-) 3fcf
3    e36a         3.215696e+06        4  4-) e36a
4    31d2         3.103342e+06        5  5-) 31d2

  cust_id  transcoded_duration  ranking   rank_id
0    5e4f         1.085833e+08        1  1-) 5e4f
1    8863         5.038736e+06        2  2-) 8863
2    3fcf         4.428012e+06        3  3-) 3fcf
3    e36a         3.215696e+06        4  4-) e36a
4    31d2         3.103342e+06        5  5-) 31d2

In [137]:
df_rank

          transcoded_duration
cust_id
5e4f             1.085833e+08
8863             5.038736e+06
3fcf             4.428012e+06
e36a             3.215696e+06
31d2             3.103342e+06
...                       ...
b301             0.000000e+00
b291             0.000000e+00
b1dd             0.000000e+00
b1cc             0.000000e+00
8.10E+10         0.000000e+00

[1829 rows x 1 columns]